@page "/"
@page "/genset"
@using Northwind
@using Models.Northwind
@inject INorthwindService NorthwindService

<div class="column-layout genset-container">
    <div class="row-layout group">
        <h2 class="h2">
            Genset
        </h2>
    </div>
    <IgbTabs class="tabs" genset-scope>
        <IgbTab Selected="true">
            <span slot="prefix">
                <span class="material-icons icon">
                    bar_chart
                </span>
            </span>
            <p class="typography__body-1 text">
                Overview
            </p>
        </IgbTab>
        <IgbTabPanel class="column-layout tab-item-content" genset-scope>
            <IgbGrid Data="@_northwindEmployees" PrimaryKey="EmployeeID" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" class="ig-typography grid" genset-scope>
                <IgbPaginator></IgbPaginator>
                <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="employeeID" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="title" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="TitleOfCourtesy" DataType="GridColumnDataType.String" Header="titleOfCourtesy" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="BirthDate" DataType="GridColumnDataType.Date" Header="birthDate" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="HireDate" DataType="GridColumnDataType.Date" Header="hireDate" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="address street" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="address city" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="address region" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="address postalCode" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="address country" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="address phone" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="ManagerID" DataType="GridColumnDataType.Number" Header="managerID" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="Notes" DataType="GridColumnDataType.String" Header="notes" Sortable="true" Selectable="false"></IgbColumn>
                <IgbColumn Field="AvatarUrl" DataType="GridColumnDataType.String" Header="avatarUrl" Sortable="true" Selectable="false"></IgbColumn>
            </IgbGrid>
        </IgbTabPanel>
        <IgbTab>
            <span slot="prefix">
                <span class="material-icons icon">
                    add_box
                </span>
            </span>
            <p class="typography__body-1 text">
                Create
            </p>
        </IgbTab>
        <IgbTabPanel class="column-layout tab-item-content_1" genset-scope>
            <EditForm class="column-layout form">
                <div class="row-layout group_1">
                    <IgbExpansionPanel Open="true" IndicatorPosition="ExpansionPanelIndicatorPosition.End" class="expansion-panel" genset-scope>
                        <div class="column-layout group_2">
                            <div class="row-layout group_3">
                                <IgbSelect Outlined="true" Label="Location" class="select" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            location_on
                                        </span>
                                    </span>
                                    <IgbSelectItem Value="Option">
                                        Option
                                    </IgbSelectItem>
                                </IgbSelect>
                                <IgbSelect Outlined="true" Label="Customer" class="select" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            person
                                        </span>
                                    </span>
                                    <IgbSelectItem Value="Option">
                                        Option
                                    </IgbSelectItem>
                                </IgbSelect>
                                <IgbSelect Outlined="true" Label="Subaccount" class="select" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            person
                                        </span>
                                    </span>
                                    <IgbSelectItem Value="Option">
                                        Option
                                    </IgbSelectItem>
                                </IgbSelect>
                            </div>
                            <div class="row-layout group_3">
                                <IgbInput Label="Created By" Outlined="true" class="user-input" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            person
                                        </span>
                                    </span>
                                </IgbInput>
                                <IgbInput Label="Teammate" Outlined="true" class="user-input" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            person
                                        </span>
                                    </span>
                                </IgbInput>
                                <IgbInput Label="DS5 Ref" Outlined="true" class="user-input" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            person
                                        </span>
                                    </span>
                                </IgbInput>
                            </div>
                            <div class="row-layout group_3">
                                <IgbSelect Outlined="true" Label="Form Status" class="select" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            info
                                        </span>
                                    </span>
                                    <IgbSelectItem Value="Option">
                                        Option
                                    </IgbSelectItem>
                                </IgbSelect>
                                <IgbDatePicker Label="Created On" Outlined="true" Mode="DatePickerMode.Dialog" class="user-input" genset-scope></IgbDatePicker>
                            </div>
                            <div class="row-layout group_3">
                                <IgbInput DisplayType="InputType.Number" Label="Unit Number" Outlined="true" class="user-input" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            numbers
                                        </span>
                                    </span>
                                </IgbInput>
                                <IgbInput DisplayType="InputType.Number" Label="Serial Number" Outlined="true" class="user-input" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            numbers
                                        </span>
                                    </span>
                                </IgbInput>
                            </div>
                        </div>
                        <span slot="title">Operation</span>
                    </IgbExpansionPanel>
                </div>
                <div class="row-layout group_4">
                    <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End" class="expansion-panel_1" genset-scope>
                        <div class="column-layout group_5">
                            <div class="row-layout group_6">
                                <IgbDatePicker Label="EDI Sent Date" Outlined="true" Mode="DatePickerMode.Dialog" class="user-input" genset-scope></IgbDatePicker>
                                <IgbDatePicker Label="Transfer Date" Outlined="true" Mode="DatePickerMode.Dialog" class="user-input" genset-scope></IgbDatePicker>
                                <IgbDropdown class="dropdown" genset-scope>
                                    <IgbDropdownItem>
                                        Option
                                    </IgbDropdownItem>
                                </IgbDropdown>
                            </div>
                            <div class="row-layout group_6">
                                <IgbSelect Outlined="true" Label="User Group" class="select" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            person
                                        </span>
                                    </span>
                                    <IgbSelectItem Value="Option">
                                        Option
                                    </IgbSelectItem>
                                </IgbSelect>
                                <IgbSelect Outlined="true" Label="EDI Status" class="select" genset-scope>
                                    <span slot="prefix">
                                        <span class="material-icons icon">
                                            info
                                        </span>
                                    </span>
                                    <IgbSelectItem Value="Option">
                                        Option
                                    </IgbSelectItem>
                                </IgbSelect>
                            </div>
                            <div class="row-layout group_7">
                                <IgbRadioGroup Alignment="RadioGroupAlignment.Horizontal" Value="@_value" Change="@(e => _value = e.Detail.Value)" class="user-input_1" genset-scope>
                                    <IgbRadio Value="1">
                                        ST
                                    </IgbRadio>
                                    <IgbRadio Value="2">
                                        DST
                                    </IgbRadio>
                                    <IgbRadio Value="3">
                                        OT
                                    </IgbRadio>
                                    <IgbRadio Value="4">
                                        DOT
                                    </IgbRadio>
                                    <IgbRadio Value="5">
                                        FT
                                    </IgbRadio>
                                </IgbRadioGroup>
                                <IgbCheckbox LabelPosition="CheckboxBaseLabelPosition.After" class="user-input_1" genset-scope>
                                    Approved
                                </IgbCheckbox>
                            </div>
                            <div class="row-layout group_8">
                                <IgbTextarea Label="Notes" Outlined="true" class="textarea" genset-scope></IgbTextarea>
                            </div>
                        </div>
                        <span slot="title">General</span>
                    </IgbExpansionPanel>
                </div>
                <div class="row-layout group_4">
                    <IgbExpansionPanel IndicatorPosition="ExpansionPanelIndicatorPosition.End" class="expansion-panel" genset-scope>
                        <IgbGrid Data="@_northwindEmployees" PrimaryKey="EmployeeID" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" class="ig-typography grid_1" genset-scope>
                            <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="employeeID" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="title" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="TitleOfCourtesy" DataType="GridColumnDataType.String" Header="titleOfCourtesy" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="BirthDate" DataType="GridColumnDataType.Date" Header="birthDate" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="HireDate" DataType="GridColumnDataType.Date" Header="hireDate" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="address street" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="address city" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="address region" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="address postalCode" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="address country" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="address phone" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="ManagerID" DataType="GridColumnDataType.Number" Header="managerID" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="Notes" DataType="GridColumnDataType.String" Header="notes" Sortable="true" Selectable="false"></IgbColumn>
                            <IgbColumn Field="AvatarUrl" DataType="GridColumnDataType.String" Header="avatarUrl" Sortable="true" Selectable="false"></IgbColumn>
                        </IgbGrid>
                        <span slot="title">Criteria</span>
                    </IgbExpansionPanel>
                </div>
                <div class="row-layout group_9">
                    <IgbButton DisplayType="ButtonBaseType.Submit" class="button" genset-scope>
                        Submit
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
            </EditForm>
        </IgbTabPanel>
        <IgbTab>
            <span slot="prefix">
                <span class="material-icons icon">
                    person
                </span>
            </span>
            <p class="typography__body-1 text">
                Tab Header
            </p>
        </IgbTab>
        <IgbTabPanel class="row-layout tab-item-content" genset-scope>
            <IgbStepper TitlePosition="StepperTitlePosition.Bottom" @ref="_stepper" class="stepper" genset-scope>
                <IgbStep Optional="true">
                    <span slot="indicator" class="material-icons">
                        local_gas_station
                    </span>
                    <div class="column-layout step-content">
                        <div class="row-layout group_10">
                            <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.NextAsync())" class="button_1" genset-scope>
                                Next
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                            <IgbExpansionPanel Open="true" class="expansion-panel_2" genset-scope>
                                <p class="typography__body-2 text">
                                    Body 2
                                </p>
                                <IgbButton DisplayType="ButtonBaseType.Button" class="button_2" genset-scope>
                                    Button
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                                <span slot="title">Title goes here...</span>
                                <span slot="subtitle">Subtitle goes here...</span>
                            </IgbExpansionPanel>
                        </div>
                    </div>
                    <p slot="title">Fueling</p>
                </IgbStep>
                <IgbStep Optional="true">
                    <span slot="indicator" class="material-icons">
                        precision_manufacturing
                    </span>
                    <div class="column-layout step-content">
                        <div class="row-layout group_10">
                            <EditForm class="column-layout form_1">
                                <IgbInput Label="Label" Outlined="true" class="user-input_2" genset-scope></IgbInput>
                                <IgbDatePicker Label="Date" Outlined="true" Mode="DatePickerMode.Dialog" class="date-picker" genset-scope></IgbDatePicker>
                                <IgbRadioGroup Alignment="RadioGroupAlignment.Horizontal" Value="@_value" Change="@(e => _value = e.Detail.Value)" class="user-input_1" genset-scope>
                                    <IgbRadio Value="1">
                                        Label
                                    </IgbRadio>
                                    <IgbRadio Value="2">
                                        Label
                                    </IgbRadio>
                                    <IgbRadio Value="3">
                                        Label
                                    </IgbRadio>
                                </IgbRadioGroup>
                                <IgbSelect Outlined="true" Label="Label/Placeholder" class="user-input_2" genset-scope>
                                    <IgbSelectItem Value="Option">
                                        Option
                                    </IgbSelectItem>
                                </IgbSelect>
                                <IgbButton DisplayType="ButtonBaseType.Button" class="button_2" genset-scope>
                                    Submit
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                            </EditForm>
                            <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.NextAsync())" class="button_1" genset-scope>
                                Next
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                    </div>
                    <p slot="title">Mount/Unmount</p>
                </IgbStep>
                <IgbStep Invalid="true">
                    <span slot="indicator" class="material-icons">
                        shopping_basket
                    </span>
                    <div class="column-layout step-content">
                        <p class="typography__body-1 text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
                        </p>
                        <div class="row-layout group_11">
                            <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.PrevAsync())" class="button_1" genset-scope>
                                Prev
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                            <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.NextAsync())" class="button_1" genset-scope>
                                Next
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                    </div>
                    <p slot="title">Item</p>
                </IgbStep>
                <IgbStep Optional="true">
                    <span slot="indicator" class="material-icons">
                        shopping_basket
                    </span>
                    <div class="column-layout step-content">
                        <p class="typography__body-1 text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
                        </p>
                        <div class="row-layout group_11">
                            <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.PrevAsync())" class="button_1" genset-scope>
                                Prev
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                            <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => _stepper!.ResetAsync())" class="button_1" genset-scope>
                                Reset
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                    </div>
                    <p slot="title">Wrap</p>
                    <p slot="subtitle">(Optional)</p>
                </IgbStep>
            </IgbStepper>
        </IgbTabPanel>
    </IgbTabs>
</div>

@code {
    private IgbStepper _stepper;
    private List<EmployeesType> _northwindEmployees = new();
    private string _value = "1";

    protected override async Task OnInitializedAsync()
    {
        _northwindEmployees = await NorthwindService.GetEmployees();
        await base.OnInitializedAsync();
    }
}
